
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1> 
<h3>this is the View page</h3>
<table>
    <tr>
       <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Alara</td>
        <td>IT</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>IT</td>
    </tr>

    
</table>

